---

- include_vars: "{{ansible_os_family}}.yml"

- name: Install NTP (Debian)
  apt: name=ntp
  when: ansible_os_family == 'Debian'

- name: Install NTP (RedHat)
  yum: name=ntp
  when: ansible_os_family == 'RedHat'

- name: Ensure NTP is running and enabled at system start.
  service: name={{ ntp_daemon }} state=started enabled=yes pattern='/ntpd'
  changed_when: false
  when: ntp_service
